body {
  margin: 0;
}
.logo{
  padding-top: 5%;
  padding-left:5%;
}
.header {
  width: 100%;
  background-color: #222222;
}
.avatar {
  float: right;
  padding-top: 1%;
  padding-right: 1%;
}
.nav-bar {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  line-height: 1.45;
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  padding: 0% 15%;
}
a {
 text-decoration: none;
 color: #FFFFFF;
}
ul {
  list-style-type: none;
}
li {
  padding: 8px;
  font-weight: 400;
  display: inline-block;
}
.searchbox {
  border-radius: 20px;
  width: 10%;
  font-size: 160%;
  display: inline-block;
  border: 1px solid black;
}
